<a href="https://colab.research.google.com/github/Ayanlola2002/ANITAB/blob/master/AnitaB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
"""
What is the output for this:

>>> my_string = "Hello!"
>>> print(my_string * 2)
Answer 1:
>>> print(my_string + " I love Python" * 2)

Answer 2:
>>> print(my_string[::-1])
Answer 3:
>>> my_list = [1,2,3,4,5]
>>> print(my_list[::-1])

Answer 4:
"""

In [0]:
#replication operator
my_string = "Hello!"
print(my_string * 2)

Hello!Hello!

In [0]:
#oncatenate and replicate operator
print(my_string + " I love Python" * 2)

Hello! I love Python I love Python

In [0]:
#print the hello! word with a step from the the back
print(my_string[::-1])

!olleH

In [0]:
my_list = [1,2,3,4,5]
print(my_list[::-1])

[5, 4, 3, 2, 1]

In [0]:
# Examples of Bitwise operators
a = 10
b = 4
 
# Print bitwise AND operation  
print(a & b)
 
# Print bitwise OR operation
print(a | b)
 
# Print bitwise NOT operation  
print(~a)
 
# print bitwise XOR operation  
print(a ^ b)
 
# print bitwise right shift operation  
print(a >> 2)
 
# print bitwise left shift operation  
print(a << 2)

0
14
-11
14
2
40

In [0]:
a=10
b=20.54
c=True
d="I am the best"
#printint out the out of the varriables
print(a,b,c,d)
#print out the varriables datatypes
print(type(a),type(b),type(c),type(d))

10 20.54 True I am the best
<class 'int'> <class 'float'> <class 'bool'> <class 'str'>

In [5]:
#list assignment
countries=['Nigeria','ghana','Usa']
#adding a country at the end of list
countries.append('Israel')
#removing a country at a particular index
countries.pop(1)
#add coutry at the middle
countries.insert(1,'peru')
countries

['Nigeria', 'peru', 'Usa', 'Israel']

In [9]:
#list assignment
countries=set(['Nigeria','ghana','Usa'])
#adding a country at the end of list
countries.add('Israel')
#removing a country at a particular index
countries.pop()
#add coutry at the middle
countries.add('peru')
countries

{'Nigeria', 'Usa', 'ghana', 'peru'}